/**
 * Color Style: Light Blue (Jasnoniebieski)
 */

//------------------------------------------------------ Logowanie
.thebackground {
    -fx-background-color : #B3E5FC;
    }

.title {
    -fx-text-fill   : #01579B;
    -fx-font-weight : bolder;
    -fx-font-size   : 30px;
    -fx-font-family : "Segoe UI Light";
    }
    
.letters {
    -fx-text-fill   : #01579B;
    -fx-font-weight : bold;
    -fx-font-family : "Segoe UI Light";
    }

.inputSection {
    -fx-background-color : #E1F5FE;
    -fx-font-family      : "Comic Sans MS";
    -fx-alignment        : center;
    }

.button {
    -fx-background-color : #29B6F6;
    -fx-text-fill        : #E1F5FE;
    -fx-font-weight      : 900;
    /*-fx-font-size        : 15px;*/
    -fx-alignment        : center;
    -fx-font-family      : "Comic Sans MS";
    }

.button:hover {
    -fx-background-color : #01579B;
    }

//Przycisk w panelu Logowanie
.buttonLogowanie {
    -fx-font-size        : 15px;
    -fx-font-family      : "Segoe UI Light";
    }
    
.warningText {
    -fx-text-fill   : #F25A5A;
    -fx-font-weight : bolder;
    -fx-font-size   : 18px;
    -fx-font-family : "Comic Sans MS";
    }

//------------------------------------------------------ Wygląd Menu+Table

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width: 90px;
}

.tab-pane .tab
{
    -fx-background-color: #E1F5FE;
}

.tab-pane .tab:selected {
    -fx-background-color : #29B6F6;
    -fx-text-fill        : #E1F5FE;
}

.tab .tab-label { 
    -fx-text-fill   : #01579B;
    -fx-font-size   : 12px;
    -fx-font-weight : 900;
    -fx-alignment   : center;
    -fx-font-family : "Verdana";

}

.tab:selected .tab-label { 
    -fx-text-fill: #E1F5FE;
}

.table-view {
    -fx-base                        : #B3E5FC;
    -fx-control-inner-background    : #E1F5FE;
    -fx-background-color            : #E1F5FE;
    -fx-table-cell-border-color     : transparent; // albo #B3E5FC (z siatką) 
    -fx-table-header-border-color   : transparent;
    -fx-padding                     : 0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill   : #01579B;
    -fx-font-weight : 900;
    -fx-font-size   : 12pt;
    -fx-alignment   : center;
    -fx-font-family : "Segoe UI Light";
}